<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.cy.owner.mapper.user.SysUserInfoPrivMapper">
    <resultMap id="BaseResultMap" type="priv.cy.owner.entity.sysUserInfo.SysUserInfo">
        <!--@mbg.generated-->
        <!--@Table sys_user_info-->
        <id column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_pwd" jdbcType="VARCHAR" property="userPwd"/>
        <result column="user_sex" jdbcType="TINYINT" property="userSex"/>
        <result column="user_phone" jdbcType="VARCHAR" property="userPhone"/>
        <result column="user_email" jdbcType="VARCHAR" property="userEmail"/>
        <result column="user_birthday" jdbcType="DATE" property="userBirthday"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="is_locked" jdbcType="TINYINT" property="isLocked"/>
        <result column="user_avatar" jdbcType="VARCHAR" property="userAvatar"/>
        <result column="pwd_salt" jdbcType="VARCHAR" property="pwdSalt"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="All_Column">
        <!--@mbg.generated-->
        user_id, user_name, user_pwd, user_sex, user_phone, user_email, user_birthday, create_time,
        is_deleted, is_locked, user_avatar, pwd_salt, create_time
    </sql>

    <select id="findUserNameByToken" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="All_Column"/>
        from sys_user_info
        where user_name=#{userName,jdbcType=VARCHAR}
    </select>


    <sql id="All_User">
        <!--@mbg.generated-->
        user_id, user_name, user_sex, user_phone, user_email, user_birthday, create_time,
        is_deleted, is_locked, user_avatar, create_time
    </sql>
    <select id="selectAllUser" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="All_User"/>
        from sys_user_info order by create_time,create_time desc

    </select>

    <insert id="insertSysUser" parameterType="priv.cy.owner.entity.sysUserInfo.SysUserInfo" useGeneratedKeys="true"
            keyColumn="user_id">
        <!--@mbg.generated-->
        insert into sys_user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userPwd != null">
                user_pwd,
            </if>
            <if test="userSex != null">
                user_sex,
            </if>
            <if test="userPhone != null">
                user_phone,
            </if>
            <if test="userEmail != null">
                user_email,
            </if>
            <if test="userBirthday != null">
                user_birthday,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="isLocked != null">
                is_locked,
            </if>
            <if test="userAvatar != null">
                user_avatar,
            </if>
            <if test="pwdSalt != null">
                pwd_salt,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null">
                #{userPwd,jdbcType=VARCHAR},
            </if>
            <if test="userSex != null">
                #{userSex,jdbcType=BOOLEAN},
            </if>
            <if test="userPhone != null">
                #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userBirthday != null">
                #{userBirthday,jdbcType=DATE},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=BOOLEAN},
            </if>
            <if test="isLocked != null">
                #{isLocked,jdbcType=BOOLEAN},
            </if>
            <if test="userAvatar != null">
                #{userAvatar,jdbcType=VARCHAR},
            </if>
            <if test="pwdSalt != null">
                #{pwdSalt,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>